.container {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 15px;
}

.icon_svg {
    width: 15px;
    height: 15px;
}

.name {
    font-weight: 600;
    margin: 0 5px 0 0;
}

.number {
    margin: 0;
}

.button {
    background-color: transparent;
    padding: 3px 15px;

    border: 1px solid black;
    border-radius: 5px;

    margin-left: auto;
}

.button:hover {
    background-color: rgba(92, 92, 92, 0.847);
    color: white;
    border-color: transparent;
}

.button_icon {
    display: flex;
}